<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <div class= container></div>
    <div id = "about_pic"></div>
    <img class = "about_pic" src="{{ url_for('static', filename='skyline.jpg') }}" alt="Favourite Car">
</div>
 <h1>Jahmarley Robinson</h1>
 <p>I am Jahmarley Robinson, a student at the University of the West Indies currently pursuing a degree in Computer Science. I am 21 years old and my hobbies include watching and playing sports.</p>
</div>
</body>
</html> 